@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 360px;
  color: #333;
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.planning-card-btn > div {
  padding: 0.5rem;
}

.finamiInput input:focus {
  border-color: white;
  box-shadow: white 0 0 0 1px;
}

.finamiInput textarea:focus {
  border-color: #6453dd;
  box-shadow: #6453dd 0 0 0 1px;
}
